﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Contact:</strong> <a href="mailto:info@orange-lightning.nl">info@orange-lightning.com</a>
</address>