﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Orange-lightning.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Orange Lightning", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Portfolio", "Portfolio", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li><a href="https://www.orange-lightning.com/owncloud/">Cloud</a></li>
                    <li><a href="https://www.orange-lightning.com/rainloop/">Email</a></li>
                    <li><a href="https://www.orange-lightning.com/Gitlab/">Git</a></li>
                    <li><a href="https://www.orange-lightning.com/teamspeak/">Teamspeak</a></li>
                    <li>@Html.ActionLink("Status", "Status", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>

    <div style="position: fixed; bottom:0;">
        <hr />
        <div class="center">
            <div style="display:table-cell;">
                <footer class="container body-content">
                    <p style="white-space: nowrap;">Student Software Engineering</p>
                    <br />
                    <p style="white-space: nowrap;">orange-lightning.nl</p>
                    <p style="white-space: nowrap;">mail: <a href="mailto:info@orange-lightning.nl">info@orange-lightning.com</a></p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
